[alias]
	st = status
	co = checkout
	br = branch
	cm = commit
	ad = add
	g1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	g2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all


[credential]
	helper = cache --timeout=3600
[log]
	date = local
[user]
	name = Dan Haugh
	email = daniel_haugh@brown.edu
[color]
	ui = true

